<h1>Create New User </h1>

<form action="<%= users_url %>" method="POST"> 

<label for="email">Email Address</label>
  <input id="email" type="text" name="user[email]">

  <input type="submit" value="Create User!">
</form>