<header class="main-nav">
	<nav class="whole-header">
		<nav class="left-nav">
			<ul>
				<li id="sections-sidebar-btn">
					<i class="fa fa-bars"></i>
					<span>sections</span>
				</li>
				<li id="search-modal-btn">
					<i class="fa fa-search"></i>
					<span>search</span>
				</li>
			</ul>
		</nav>

		<nav class="right-nav"> 
			<ul>
				<li><input type="submit" value="SUBSCRIBE NOW"></li>
				<li><input type="submit" value="LOG IN"></li>

				<li><input type="image" src="https://www.creativefabrica.com/wp-content/uploads/2019/03/Gear-Icon-by-Zhenstudio.jpg" alt="gear icon" width="25" height="25">
				<button style="background: url(myimage.png)">
				</li>
				
			</ul>
		</nav>
	</nav>	
</header>